.paginationWrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}

.main {
  display: flex;
}

.list {
  width: 45%;
  padding: 0 0 80px;
}

.details {
  flex: 1;
  padding: 0 0 0 30px;
  text-align: left;
}
