ul {
	list-style: none;
}

.authPage {
	margin: 0;
	padding: 15px;
	align-items: start;
	font-size: 1rem;
	text-indent: 0.5rem;
	/* display: flex; */
}
.item {
	display: flex;
	min-width: 605px;
	text-indent: 0.5rem;
	flex-direction: column;
	height: 80px;
}
.warning {
	padding: 0;
	margin: 0;
	color:red;
}
