.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background-color: rgb(28, 28, 28);
  margin: 10px 0;
  box-sizing: border-box;
}

.details {
  padding-top: 50px;
}

.detailsInfo {
  display: flex;
}

.cardImg {
  width: 350px;
  min-width: 50px;
  min-height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  flex-shrink: 1;
}

.heading {
  text-align: left;
  margin: 0 0 10px;
}

.cardContent {
  width: 500px;
  padding-left: 20px;
  flex: 2;
}
.features {
  margin: 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.infoLine {
  text-align: left;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  padding: 0 7px 0 0;
  margin: 0;
  box-sizing: border-box;
}
